<!DOCTYPE html>
    <body>
            <div class="content">
        <span>
            <form action="/addcourse" method="POST" align="center">
            Full Name: <input type="text" name="name"><br>
            Course Code: <input type="text" name="course"><br>
            Password: <input type="password" placeholder="Password" required="" name= "Pass"><br>
            Confirm Password: <input type="password" placeholder="Confirm Password"  required=""> <br>

            <button type="submit">Confirm</button>

             <script type="text/javascript">
               // JavaScript Code
               var password = document.getElementById("password")
              , confirm_password = document.getElementById("confirm_password");

               function validatePassword(){
              if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
                 } else {
              confirm_password.setCustomValidity('');
                  }
               }

             password.onchange = validatePassword;
             confirm_password.onkeyup = validatePassword;
             </script>
            </form>
        </span>
            </div>
    </body>
</html>