<!DOCTYPE html>
    <body>
            <div class="content">
        <span>
            <form action="/changePass" method="POST" align="center">

                <!-- 
                Name:<br> <input type="text" name="name"><br>
                Old Password: <input type="password" name= "oldPass" ><br>
                Password: <input type="password" name="newPass"><br>
                <button id="request">change</button>
            </form>
            {{if .Login.BadDetail}}
            <p style="color:red;">The detail provided is incorrect</p>
            {{else if .Login.Success}}
            <p style="color:lightblue;">Password changed successfully</p>
            
            -->
              Name: <input type="text" name="name"><br>
             Password: <input type="password" placeholder="Password" id="password" required><br>
             Confirm Password: <input type="password" placeholder="Confirm Password" id="confirm_password" required> <br>

             <button type="submit">Confirm</button>



             <script type="text/javascript">
               // JavaScript Code
               var password = document.getElementById("password")
              , confirm_password = document.getElementById("confirm_password");

               function validatePassword(){
              if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
                 } else {
              confirm_password.setCustomValidity('');
                  }
               }

             password.onchange = validatePassword;
             confirm_password.onkeyup = validatePassword;
             </script>
            </form>
        </span>
            </div>
    </body>
</html>